<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.bank.persistence.BankRepository">

    <insert id="create" keyColumn="bank_id" keyProperty="bankId" useGeneratedKeys="true">
        INSERT INTO banks (bank_name, main_location, main_phone) VALUES (#{bankName}, #{bankLocation}, #{bankPhone})
    </insert>

    <update id="update">
        UPDATE banks SET bank_name = #{bankName}, main_location = #{bankLocation}, main_phone = #{bankPhone} WHERE
        bank_id = #{bankId}
    </update>

    <delete id="deleteById">
        DELETE FROM banks WHERE bank_id = #{bankId}
    </delete>

    <select id="findById" resultMap="bankResultMap">
        SELECT * FROM banks WHERE bank_id = #{bankId}
    </select>

    <select id="findAll" resultMap="bankResultMap">
        SELECT * FROM banks
    </select>

    <resultMap id="bankResultMap" type="com.solvd.bank.domain.Bank" autoMapping="false">
        <id column="bank_id" property="bankId"/>
        <result column="bank_name" property="bankName"/>
        <result column="main_location" property="bankLocation"/>
        <result column="main_phone" property="bankPhone"/>
    </resultMap>

</mapper>